Repository unicitynetwork/eth-unicity-anchor: changes, and which Codecov flags are due for each by the changed paths.
All: solidity, typescript

minor fixes for batch submissions and formatting
  .gitignore
  CLAUDE.md
  src/AggregatorBatches.sol
  src/IAggregatorBatches.sol
  test/AggregatorBatches.t.sol
  ts-client/src/abi.ts
  ts-client/tests/integration/e2e.test.ts
Due: solidity, typescript

fix: enhance SMT implementation for integration tests
  ts-client/jest.integration.setup.js
  ts-client/src/aggregator-node-smt.ts
  ts-client/src/types.ts
  ts-client/tests/integration/smt-e2e.test.ts
Due: typescript

fixed tests with SMT implementation
  .gitignore
  CLAUDE.md
  scripts/manual-e2e-test.sh
  ts-client/jest.setup.js
  ts-client/package-lock.json
  ts-client/package.json
  ts-client/src/index.ts
  ts-client/tests/smt-aggregator.test.ts
  ts-client/tests/smt-integration.test.ts
Due: typescript

Implement enhanced aggregator gateway with aggregators_net compatibility
  ts-client/README.md
  ts-client/examples/enhanced-gateway-example.ts
  ts-client/src/aggregator-gateway.ts
  ts-client/src/gateway-types/Authenticator.ts
  ts-client/src/gateway-types/Commitment.ts
  ts-client/src/gateway-types/DataHash.ts
  ts-client/src/gateway-types/InclusionProof.ts
  ts-client/src/gateway-types/RequestId.ts
  ts-client/src/index.ts
Due: typescript

Add HTTP mock tests for AggregatorGateway and improve documentation
  ts-client/README.md
  ts-client/tests/aggregator-gateway-http.test.ts
Due: none

Fix integration tests for improved robustness
  ts-client/jest.integration.config.js
  ts-client/tests/integration/e2e.test.ts
  ts-client/tests/integration/gateway-http-e2e.test.ts
Due: none

Implement autoProcessing parameter for batch processing
  ts-client/src/aggregator-node-smt.ts
  ts-client/src/aggregator-node.ts
  ts-client/src/index.ts
  ts-client/src/types.ts
Due: typescript

Implement on-chain state synchronization for batch processing
  ts-client/src/aggregator-node-smt.ts
  ts-client/src/aggregator-node.ts
  ts-client/src/types.ts
Due: typescript

fix: add missing BatchRequest interface for hashroot processing
  ts-client/src/aggregator-node.ts
  ts-client/src/types.ts
Due: typescript

docs: add comprehensive Aggregator Gateway guide
  .gitignore
  docs/AGGREGATOR_GATEWAY_GUIDE.md
  docs/INTEGRATION_GUIDE.md
  docs/README.md
Due: none

test: add gateway synchronization tests
  scripts/sync-test.sh
  ts-client/tests/integration/gateway-sync-test.ts
Due: none

fix: rename gateway sync test file to match Jest conventions
  scripts/sync-test.sh
  ts-client/tests/integration/gateway-sync.test.ts
Due: none

test: improve robustness of gateway synchronization tests
  ts-client/tests/integration/gateway-sync.test.ts
Due: none

test: fix gateway synchronization issues with proper error handling
  ts-client/tests/integration/gateway-sync.test.ts
Due: none

fix: remove isAggregator check and use try-catch instead
  ts-client/tests/integration/gateway-sync.test.ts
Due: none

ci: add gateway synchronization tests to CI pipeline
  scripts/run-ci-locally.sh
Due: none

ci: update Dockerfile.ci to include sync-test.sh
  Dockerfile.ci
Due: none

Add batch submission edge case tests
  test/AggregatorBatches.t.sol
  ts-client/tests/integration/batch-submission-edge-cases.test.ts
  ts-client/tests/integration/e2e.test.ts
  ts-client/tests/integration/gateway-sync.test.ts
Due: none

Add support for explicit batch numbers
  src/AggregatorBatches.sol
  src/IAggregatorBatches.sol
  test/AggregatorBatches.t.sol
Due: solidity

Enhance AggregatorBatches with gap-filling and improve documentation
  docs/AGGREGATOR_BATCHES_GUIDE.md
  src/AggregatorBatches.sol
  src/IAggregatorBatches.sol
  test/AggregatorBatches.t.sol
Due: solidity

fix: Properly format code and fix CI pipeline tests
  src/AggregatorBatches.sol
  src/IAggregatorBatches.sol
  test/AggregatorBatches.t.sol
Due: solidity

feat: Add TypeScript support for explicit batch number operations
  ts-client/src/aggregator-gateway.ts
  ts-client/src/client.ts
Due: typescript

test: Add unit tests for new batch numbering methods
  ts-client/tests/aggregator-gateway.test.ts
  ts-client/tests/client.test.ts
Due: none

test: Add integration tests for explicit batch numbering
  ts-client/tests/integration/explicit-batch-numbering.test.ts
Due: none

fix: fix integration tests for explicit batch numbering and edge cases
  ts-client/src/aggregator-gateway.ts
  ts-client/src/client.ts
  ts-client/tests/integration/batch-submission-edge-cases.test.ts
  ts-client/tests/integration/explicit-batch-numbering.test.ts
Due: typescript

feat: Add Swagger documentation and fix unit tests
  ts-client/package.json
  ts-client/scripts/start-swagger.js
  ts-client/src/swagger-server.ts
  ts-client/swagger/README.md
  ts-client/swagger/api-docs.yaml
  ts-client/swagger/index.html
  ts-client/tests/batch-commitments.test.ts
  ts-client/tests/integration/gateway-http-e2e.test.ts
Due: typescript

docs: Add JSON-RPC guide and update documentation for explicit batch numbering
  docs/AGGREGATOR_GATEWAY_GUIDE.md
  docs/GATEWAY_JSON_RPC_GUIDE.md
  docs/INTEGRATION_GUIDE.md
  docs/README.md
Due: none

Adding gateway testing functionality with real SMT implementation
  scripts/manual-e2e-test.sh
  ts-client/package.json
  ts-client/src/aggregator-gateway.ts
  ts-client/src/aggregator-node-smt.ts
  ts-client/src/run-gateway-test.ts
  ts-client/src/test-gateway.ts
  ts-client/tests/aggregator-gateway-http.test.ts
  ts-client/tests/smt-aggregator.test.ts
  ts-client/tests/smt-integration.test.ts
Due: typescript

Enhance test-gateway.ts with proof verification and more options
  ts-client/src/test-gateway.ts
Due: typescript

Fix scope issue with verbose flag in test-gateway.ts
  ts-client/src/test-gateway.ts
Due: typescript

fix: enhance gateway testing with real SMT implementation
  ts-client/src/abi.ts
  ts-client/src/run-gateway-test.ts
  ts-client/src/test-gateway.ts
Due: typescript

feat: enhance gateway tests with proof verification and timeouts
  ts-client/src/run-gateway-test.ts
  ts-client/src/test-gateway.ts
Due: typescript

fix: update InclusionProof interface for non-inclusion proof support
  ts-client/src/test-gateway.ts
Due: typescript

chore: update TypeScript configuration for improved module resolution
  ts-client/package-lock.json
  ts-client/tsconfig.json
Due: none

docs: add gateway testing documentation
  README.md
  docs/GATEWAY_TESTING_GUIDE.md
  docs/INTEGRATION_GUIDE.md
Due: none

fix: prevent commitments from being included in multiple batches
  src/AggregatorBatches.sol
  ts-client/jest.integration.config.js
  ts-client/jest.integration.setup.js
  ts-client/jest.setup.js
Due: solidity

refactor: improve batch creation with centralized validation function
  src/AggregatorBatches.sol
  test/AggregatorBatches.t.sol
Due: solidity

fix: enhance hashroot consensus verification and batch integrity checks
  ts-client/src/aggregator-node-smt.ts
  ts-client/src/aggregator-node.ts
  ts-client/src/types.ts
  ts-client/tests/integration/gateway-sync.test.ts
Due: typescript

test: properly handle expected hashroot mismatch errors in gateway sync tests
  ts-client/tests/integration/gateway-sync.test.ts
Due: none

fix: improve test script handling of expected critical error messages
  scripts/manual-e2e-test.sh
Due: none

Path conditions:
  solidity: any of: src/, but not: test, **/*.test.ts, **/*.t.sol, **/*.md, docs, lib, node_modules, ts-client/tests, scripts
  typescript: any of: ts-client/src/, but not: test, **/*.test.ts, **/*.t.sol, **/*.md, docs, lib, node_modules, ts-client/tests, scripts
