Repository unicitynetwork/eth-unicity-anchor: changes, and which Codecov flags are due for each by the changed paths.
All: solidity, typescript

codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        # Entire project coverage
        target: 70%
        threshold: 2%
      solidity:
        # Smart contract coverage
        target: 80%
        threshold: 2%
        flags: 
          - solidity
      typescript:
        # TypeScript client coverage
        target: 70%
        threshold: 5%
        flags:
          - typescript
    patch:
      default:
        # Patch coverage (changes made in PR)
        target: 70%
        threshold: 5%

flags:
  solidity:
    paths:
      - src/
    carryforward: true
  typescript:
    paths:
      - ts-client/src/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

ignore:
  - "test"
  - "**/*.test.ts"
  - "**/*.t.sol"
  - "**/*.md"
  - "docs"
  - "lib"
  - "node_modules"
  - "ts-client/tests"
  - "scripts"

feat: add functions to check aggregator votes for batches
  src/AggregatorBatches.sol
  src/IAggregatorBatches.sol
  ts-client/src/abi.ts
Due: solidity, typescript

fix: patch critical security vulnerability in hashroot verification
  ts-client/src/aggregator-node.ts
  ts-client/tests/integration/gateway-sync.test.ts
Due: typescript

feat: add gateway testing tools for Unicity Anchor
  package.json
  scripts/package-lock.json
  scripts/package.json
  scripts/test-gateway-cli.ts
  scripts/test-gateway.js
  scripts/tsconfig.json
  scripts/verify-proof.ts
Due: none

feat: enhance proof verification with algorithm prefix handling
  scripts/verify-proof.ts
Due: none

docs: add findings about request ID prefix and signature format to gateway test
  scripts/test-gateway-cli.ts
Due: none

feat: add authenticator debugging and comparison tools
  scripts/compare-auth.ts
  scripts/verify-local.ts
Due: none

WIP: Fix authenticator verification in gateway tests
  docs/AUTHENTICATOR_VERIFICATION_GUIDE.md
  scripts/test-gateway.js
  ts-client/src/test-gateway.ts
Due: typescript

WIP: Add gateway testing and authenticator verification scripts
  GATEWAY_TESTING_SCRIPTS.md
  scripts/mimick-gateway.ts
  scripts/test-gateway-e2e.sh
  start-gateway.js
  ts-client/src/gateway-test.ts
  ts-client/src/simple-gateway-test.js
Due: typescript

WIP: Add TypeScript version of gateway test script
  scripts/test-gateway.ts
Due: none

WIP: Update TypeScript test with authenticator verification fix
  scripts/test-gateway.ts
Due: none

WIP: Add data consistency verification to gateway tests
  scripts/test-gateway.js
  scripts/test-gateway.ts
Due: none

WIP: Add detailed logging for debugging gateway integration
  scripts/test-gateway.js
  scripts/test-gateway.ts
Due: none

WIP: Enhance test-gateway-cli.ts with detailed debugging information
  scripts/test-gateway-cli.ts
Due: none

WIP: Enhance CLI gateway tester with human-readable hex output
  scripts/test-gateway-cli.ts
Due: none

WIP: Add automatic transaction hash prefix fix for gateway responses
  scripts/test-gateway-cli.ts
Due: none

WIP: Streamline CLI gateway tester for clearer output
  scripts/test-gateway-cli.ts
Due: none

WIP: Add detailed debug output for Merkle path verification failures
  scripts/test-gateway-cli.ts
Due: none

fix: improve gateway testing with prefix handling for authenticators
  scripts/test-gateway-cli.ts
Due: none

feat: add gateway testing scripts and deployment utilities
  deploy-contract.js
  ts-client/src/deploy-contract.ts
Due: typescript

chore: update gitignore with gateway test artifacts
  .gitignore
Due: none

WIP: integration tests
  CLAUDE.md
  package-lock.json
  scripts/manual-e2e-test.sh
  src/AggregatorBatches.sol
  test/AggregatorBatches.t.sol
  ts-client/jest.integration.config.js
  ts-client/src/aggregator-node-smt.ts
  ts-client/src/client.ts
  ts-client/src/run-gateway-test.ts
  ts-client/src/types.ts
  ts-client/tests/integration/gateway-http-e2e.test.ts
  ts-client/tests/integration/smt-e2e.test.ts
Due: solidity, typescript

WIP: debuggin Unicity proof verification in cli tester
  scripts/test-gateway-cli.ts
Due: none

Add leaf verification step
  scripts/test-gateway-cli.ts
Due: none

fixed imports in test-gateway-cli.ts
  scripts/test-gateway-cli.ts
Due: none

fix: use consistent bytes format for requestIDs in tests
  test/AggregatorBatches.t.sol
Due: none

Fixed smart contracts to support requestIds and hashroots of arbitrary length (needed for hash imprints). WIP: unit tests for aggregator node
  contract-query.js
  integration-test.sh
  package.json
  scripts/test-gateway-cli.ts
  src/AggregatorBatches.sol
  src/IAggregatorBatches.sol
  ts-client/src/gateway-types/HashRoot.ts
  ts-client/src/gateway-types/RequestId.ts
  ts-client/src/index.ts
  ts-client/src/run-gateway-server.ts
  ts-client/src/run-gateway-test.ts
  ts-client/src/test-gateway.ts
Due: solidity, typescript

WIP: Update SMT integration to handle bytes requestId and maintain persistent tree
  ts-client/src/abi.ts
  ts-client/src/aggregator-gateway.ts
  ts-client/src/aggregator-node-smt.ts
  ts-client/src/run-gateway-server.ts
Due: typescript

Update get_inclusion_proof handler to use SMT directly without batch-related logic
  ts-client/src/aggregator-node-smt.ts
  ts-client/src/run-gateway-server.ts
Due: typescript

fix: Update get_inclusion_proof to return complete proof with authenticator and transaction hash
  ts-client/src/aggregator-node-smt.ts
  ts-client/src/run-gateway-server.ts
Due: typescript

fix: Add type annotation for error handling in run-gateway-server.ts
  ts-client/src/run-gateway-server.ts
Due: typescript

fix: Fix TypeScript errors in SMTAggregatorNodeClient
  ts-client/src/aggregator-node-smt.ts
Due: typescript

Revert "fix: Fix TypeScript errors in SMTAggregatorNodeClient"
  ts-client/src/aggregator-node-smt.ts
Due: typescript

refactor: Enhance AggregatorNodeClient with SMT functionality for complete inclusion proofs
  ts-client/src/aggregator-node.ts
Due: typescript

refactor: Update gateway server to use enhanced AggregatorNodeClient directly
  ts-client/src/run-gateway-server.ts
Due: typescript

fix: Replace StandardMerkleTree with SparseMerkleTree in all methods
  ts-client/src/aggregator-node.ts
Due: typescript

fix: Add type annotation to avoid TypeScript implicit any error
  ts-client/src/aggregator-node.ts
Due: typescript

fix: Update SMT implementation to use BigInt for requestIds
  ts-client/src/aggregator-node.ts
Due: typescript

fix: Implement proper SMT path handling with 1-prefix for requestIds
  ts-client/src/aggregator-node.ts
Due: typescript

fix: Improve requestId handling and inclusion proof generation
  ts-client/src/aggregator-node.ts
  ts-client/src/run-gateway-server.ts
Due: typescript

Delete .github/workflows/nightly.yml
  .github/workflows/nightly.yml
Due: none
